body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.box-cont{
    display: flex;
    justify-content: center;
}

.green{
    color: #6AAB54;
    background-color: #6AAB54;
}
.purple{
    color: #9554AB;
    background-color: #9554AB;
}
.yellow{
    color: #AB6954;
    background-color: #AB6954;
}
.red{
    color:#5496AB;
    background-color:#5496AB;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
